functions-framework==3.5.0
google-cloud-artifact-registry==1.21.0
google-cloud-compute==1.21.0
google-cloud-bigquery==3.34.0
google-cloud-storage==2.18.2
google-cloud-secret-manager==2.23.0
google-auth==2.38.0
requests==2.32.3
